<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Document</title>
</head>
<body>
    <!--links para as paginas logins e register-->
    <header>
        <img src="" alt="">
    </header>

    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>Usuarios
                <ul>
                    <li><a href="/?pagina=entrar">logar</a></li>
                    <li><a href="/?pagina=registrar">registrar</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</body>
</html>